<head>
    <link rel="stylesheet" href="/css/products.css">
</head>
<%- include("partials/header") %>
<body>
    <div class="products_cont">
        <div class="producto">
            <p class="title">Manayupa</p>
            <div class="portada">
                <img src="/images/manayupa.png">
            </div>
            <div class="info">
                <p>Precio: S/15</p>
                <p>Unidades disponibles: 40</p>        
            </div>
        </div>
        <div class="producto">
            <p class="title">Manayupa</p>
            <div class="portada">
                <img src="/images/manayupa.png">
            </div>
            <div class="info">
                <p>Precio: S/15</p>
                <p>Unidades disponibles: 40</p>        
            </div>
        </div>
        <div class="producto">
            <p class="title">Manayupa</p>
            <div class="portada">
                <img src="/images/manayupa.png">
            </div>
            <div class="info">
                <p>Precio: S/15</p>
                <p>Unidades disponibles: 40</p>        
            </div>
        </div>
    </div>
</body>
</html>