*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --color1: #9d5a4d;
}

header{
    width: 100%;
}

header .menu{
    background-color: var(--color1);
}

header .menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
}
header .menu ul li{
    padding: 10px 7%;
}
header .menu ul li a{
    color: #d9d9d9;
    text-decoration: none;   
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
}